<nav class="top-nav" aria-label="Primary">
    <a
        class="{% if page.url == '/' %}is-active{% endif %}"
        href="{{ '/' | relative_url }}"
        >Home</a
    >
    <a
        class="{% if page.url contains '/install/' %}is-active{% endif %}"
        href="{{ '/install/macos/' | relative_url }}"
        >Install</a
    >
    <a
        class="{% if page.url contains '/scenarios/' %}is-active{% endif %}"
        href="{{ '/scenarios/personal-wiki/' | relative_url }}"
        >Scenarios</a
    >
    <a
        class="{% if page.url == '/soul/' %}is-active{% endif %}"
        href="{{ '/soul/' | relative_url }}"
        >Soul</a
    >
    <a
        class="{% if page.url contains '/reference/' %}is-active{% endif %}"
        href="{{ '/reference/' | relative_url }}"
        >Reference</a
    >
    <a
        class="{% if page.url == '/security/' %}is-active{% endif %}"
        href="{{ '/security/' | relative_url }}"
        >Security</a
    >
    <a
        class="{% if page.url == '/ecosystem/' %}is-active{% endif %}"
        href="{{ '/ecosystem/' | relative_url }}"
        >Ecosystem</a
    >
    <a
        class="{% if page.url contains '/blog/' %}is-active{% endif %}"
        href="{{ '/blog/' | relative_url }}"
        >Blog</a
    >
    <a
        class="{% if page.url == '/about/' %}is-active{% endif %}"
        href="{{ '/about/' | relative_url }}"
        >About</a
    >
    <a
        href="https://github.com/latebit-io/demarkus"
        target="_blank"
        rel="noreferrer"
        >GitHub</a
    >
</nav>
